{{#each reminders as |reminder|}}

<ul data-id="{{reminder.id}}">
 <li>{{#if reminder.content}}
   {{reminder.content}}
 {{else}}
   No Reminder Set
 {{/if}}</li>

  <li>{{#if reminder.day}}
    {{reminder.day}}
  {{else}}
    0000-00-00
  {{/if}}</li>

  <li>{{#if reminder.when}}
    {{reminder.when}}
  {{else}}
    00:00 AM
  {{/if}}</li>

<li><button class="remove" class="btn btn-default" data-id="{{reminder.id}}">Remove!</button></li>
<li><button class="update" class="btn btn-default" data-id="{{reminder.id}}">Update!</button></li>

</ul>

{{/each}}
